.folder-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.folder-toggle i {
  margin-right: 8px;
}

.file {
  margin-left: 20px;
}

ul.collapse.show {
  display: block !important;
}

ul.collapse {
  display: none;
}
