* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro";
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h3 {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

p {
  font-size: 12px;
  color: #888;
}

button:focus {
  outline: 1px dotted;
}

.stage {
  max-width: 100%;
  margin: 30px 2%;
  position: relative;
}

.back {
  font-size: 16px;
  border-radius: 50px;
  background: #808000;
  border: 0;
  color: white;
  width: 40px;
  height: 40px;
  margin: 0px 27px 0;
  outline: none !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back svg {
  fill: white;
  height: 20px;
}

.card-body {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#breadcrumbs {
  margin: 20px 30px 0px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px;
}

#breadcrumbs span {
  color: #808000;
  font-size: 16px;
  cursor: pointer;
}

/* For new JS logic */
#folder-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 17px;
  transition: grid-template-columns 0.3s ease-in-out;
  top: 0;
  left: 0;
  width: calc(100vw - 80px);
  background: white;
  z-index: 1;
  margin-right: 80px;
}

.folder {
  border-radius: 3px;
  margin-bottom: 23px;
  text-align: center;
  border: 1px solid #eeeeee;
  transition: 0.2s all cubic-bezier(0.4, 0.0, 0.2, 1);
  position: relative;
  padding: 15px;
  margin-right: 17px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: rgba(3, 3, 3, 0.14) 0px 2px 2px 0px, rgba(3, 3, 3, 0.12) 0px 1px 5px 0px, rgba(3, 3, 3, 0.2) 0px 3px 1px -2px;
}

.folder:hover {
  box-shadow: 0px 7px 5px -6px rgba(0, 0, 0, 0.12);
}

.folder img {
  height: 55px;
  margin-bottom: 10px;
}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
  #folder-container {
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
  }
}

@media (max-width: 992px) {
  #folder-container {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }
}

@media (max-width: 768px) {
  #folder-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}

@media (max-width: 576px) {
  #folder-container {
    grid-template-columns: 1fr; /* 1 column */
  }
}
