<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta data -->
  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
  <meta content="" name="description">
  <meta content="" name="author">
  <meta name="keywords" content="" />
  <title>Folder Structure</title>

  <link rel="stylesheet" th:href="@{/css/records.css}" type="text/css" />

</head>

<body class="app sidebar-mini dark-left-menu sidenav-toggled">
  <div id="mainContainer" class="col-md">
    <div class="card-body">
      <div id="viewgridproject" class="tab-pane fade active show p-0">

        <!-- Back Button -->
        <div class="row mb-5">
          <div class="col-md-9">
            <button class="back" th:onclick="'goBack()'">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>arrow-left</title><path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" /></svg>
            </button>
          </div>
        </div>

        <!-- Breadcrumb -->
        <div id="breadcrumbs"></div>

        <!-- Folder Structure -->
        <div class="stage">
          <div th:replace="::folder(fragment='folder', folder=${rootFolder}, isRoot='true')"></div>
        </div>
        <!-- .stage -->
      </div>
    </div>
  </div>

  <!-- Folder Fragment -->
  <th:block th:fragment="folder (folder)">
    <div class="folder-and-subfolders-div" th:if="${folder != null}">
      <div th:class="${isRoot} == 'true' ? 'root-folder tile folder-div' : 'tile folder-div'" th:onclick="'openFolder(this)'">
        <a href="javascript:void(0);">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>folder</title><path d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z" /></svg>
          <h3 th:text="${folder.name != null ? folder.name : 'Unnamed Folder'}"></h3>
        </a>
      </div>
      <div class="subfolders-div collapse folder-wrap level-current" th:if="${folder.subFolders != null}">
        <div class="subfolder-iter" th:each="subFolder : ${folder.subFolders}">
          <div th:replace="::folder(fragment='folder', folder=${subFolder}, isRoot='false')"></div>
        </div>
        <div th:each="file : ${folder.files}" class="tile subfolder-iter" th:if="folder.files != null">
          <a th:href="${file.url}" target="_blank">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>file-document</title><path d="M13,9H18.5L13,3.5V9M6,2H14L20,8V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V4C4,2.89 4.89,2 6,2M15,18V16H6V18H15M18,14V12H6V14H18Z" /></svg>
              <h3 th:text="${file.name}"></h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </th:block>

  <!--===============================================================================================================================-->
  <!-- Back to top -->
  <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
  <script th:src="@{/js/records.js}"></script>
  <script th:src="@{/js/script.js}"></script>
</body>

</html>
