<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta data -->
  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
  <meta content="" name="description">
  <meta content="" name="author">
  <meta name="keywords" content="" />
  <title>Folder Browser</title>

  <link rel="stylesheet" th:href="@{/css/records.css}" type="text/css" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

</head>

<body>
  <div id="mainContainer">
    <div class="card-body">

      <!-- Toolbar -->
      <div class="toolbar">
        <div class="toolbar-left">
          <div class="logo-container">
            <button id="backButtonFromSearchResult" class="back-button hide"><img th:src="@{/images/back.svg}"></button>
            <img th:src="@{/images/logo.svg}" alt="Logo" class="logo" id="logoOnSearchBar">
          </div>
          <div class="search-bar">
            <img th:src="@{/images/search.svg}">
            <input type="text" placeholder="Search..." class="search-input" id="searchInput">
          </div>
        </div>
        <div class="toolbar-right">
          <button class="toolbar-button" id="createButton" th:onclick="createFolder()" title="Create New Folder"><img th:src="@{/images/toolbar-operations/folder-create.svg}"></button>
          <input type="file" id="fileUploadInput" style="display: none;">
          <button class="toolbar-button" id="uploadButton" title="Upload File"><img th:src="@{/images/toolbar-operations/upload.svg}"></button>

          <div class="file-specific-tools hide">
            <div class="toolbar-divider"></div>
            <button class="toolbar-button" id="infoButton" th:onclick="'showFolderInfo()'" title="Folder Info"><img th:src="@{/images/toolbar-operations/folder-information.svg}"></button>
            <button class="toolbar-button" id="renameButton" th:onclick="'renameFolder()'" title="Rename Folder"><img th:src="@{/images/toolbar-operations/folder-rename.svg}"></button>
            <button class="toolbar-button" id="downloadButton" th:onclick="'downloadFolder()'" title="Download Folder"><img th:src="@{/images/toolbar-operations/folder-download.svg}"></button>
            <button class="toolbar-button" id="moveButton" th:onclick="'moveFolder()'" title="Move Folder"><img th:src="@{/images/toolbar-operations/folder-move.svg}"></button>
            <button class="toolbar-button" id="copyButton" th:onclick="'copyFolder()'" title="Copy Folder"><img th:src="@{/images/toolbar-operations/copy.svg}"></button>
            <button class="toolbar-button" id="deleteButton" th:onclick="'deleteFolder()'" title="Delete Folder"><img th:src="@{/images/toolbar-operations/folder-delete.svg}"></button>
          </div>
        </div>
      </div>

      <div class="folder-grid-view-container">

        <div class="navigation-container">
          <!-- Back Button -->
          <div class="back-button-container">
            <button class="back-button" th:onclick="'goBack()'"><img th:src="@{/images/back.svg}"></button>
          </div>

          <!-- Breadcrumb -->
          <div id="breadcrumbs"></div>
        </div>

        <!-- File Info Modal -->
        <div id="folderInfoModal" class="modal hide">
          <div class="modal-content">
            <span class="close">&times;</span>
            <h2></h2>
            <div id="folderInfo"></div>
          </div>
        </div>

        <!-- Mini File Explorer Modal -->
        <div id="folderExplorerModal" class="modal hide">
          <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Select destination folder</h2>
            <div id="miniFolderExplorer"></div>
            <button id="selectDestinationFolderButton" class="select-button" th:onclick="'handleSelectDestinationFolderButtonClick()'">Select</button>
          </div>
        </div>

        <!-- Folder Structure -->
        <div class="stage">
           <div id="folder-container"></div>
        </div>
      </div>

      <!-- Search Results -->
      <div id="searchResults" class="hide">
        <div class="search-results-header">
          <h3>Search Results</h3>
        </div>
        <div id="search-results-container"></div>
      </div>
    </div>
  </div>

  <!--===============================================================================================================================-->
  <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
  <script th:src="@{/js/records.js}"></script>
  <script th:src="@{/js/script.js}"></script>
</body>

</html>
